<div class="row">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Edit Record</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="col-form-label">
              Branch
            </label>
            <select
              class="form-control form-select"
              name="branch_id"
              style="color: black;"
            >
              <option value="10" selected hidden disabled>
                {{this.address}}
              </option>
              <option value="10">
                Quirino
              </option>
              <option value="11">
                Lanang
              </option>
              <option value="12">
                Matina
              </option>
              <option value="13">
                Quimpo
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="col-form-label">
              Start Time
            </label>
            <input
              class="form-control"
              name="start_time"
              type="time"
              value="{{this.start_time}}"
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="col-form-label">
              End Time
            </label>
            <input
              class="form-control"
              name="end_time"
              type="time"
              value="{{this.end_time}}"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-auto">
          <button class="btn btn-primary">
            Submit
          </button>
        </div>
        <div class="col-sm-auto">
          <a href="/timekeeping/" class="btn btn-secondary">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>