<div class="row">

  <div class="card">
    <div class="card-body">
      <h4>MBOS Form</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="col-form-label">
              Payroll Period
            </label>
            <select class="form-control form-select">
              Test
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-auto">
          <button class="btn btn-primary">
            Convert
          </button>
        </div>
        <div class="col-sm-auto">
          <button class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>