<div class="row">

  <div class="card">
    <div class="card-body">
      <h4>Timekeeping Form</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="col-form-label">
              Main Branch
            </label>
            <select class="form-control form-select">
              Test
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="col-form-label">
                Time Sheet Date
              </label>
              <div class="row">
                <div class="col-sm-3 pr-0">
                  <select class="form-control form-select">
                    <option value="" disabled selected>DD</option>
                  </select>
                </div>
                <div class="col-sm-3 pr-0">
                  <select class="form-control form-select">
                    <option value="" disabled selected>MM</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <select class="form-control form-select">
                    <option value="" disabled selected>YYYY</option>
                  </select>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <form class="" method="POST" action="/timekeeping/add-timesheet">
            <div class="form-group">
              <label class="col-form-label">
                Attach CSV file
              </label>
              <input class="form-control" name="xlsx" type="file" />
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-auto">
          <button class="btn btn-primary">
            Import File
          </button>
        </div>
        <div class="col-sm-auto">
          <button class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>