
<div>
  {{#if alert}}
  <div class="alert alert-primary alert-failed alert-dismissible fade show z-1 w-50" role="alert">
    {{alert}}
    <button
      type="button"
      class="btn btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {{/if}}

  
  
<form class="row g-3 needs-validation" method="POST" action="/timekeeping/add-timesheet" enctype="multipart/form-data" novalidate>
	{{> timesheet-form}}
</form>

</div>