<div class="row mb-2">
  <div class="card col-sm-4">
    <div class="card-body">
      <h4 class="card-title">Employee Information</h4>
      <div class="row mb-2">
        <div class="col-sm-6 align-self-center">
          <p class="mb-0">Employee Type</p>
        </div>
        <div class="col-sm-6 text-end">
          <a class="btn btn-sm btn-primary" type="button">View</a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-6 align-self-center">
          <p class="mb-0">Departments</p>
        </div>
        <div class="col-sm-6 text-end">
          <a class="btn btn-sm btn-primary" type="button">View</a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-6 align-self-center">
          <p class="mb-0">Job Titles</p>
        </div>
        <div class="col-sm-6 text-end">
          <a class="btn btn-sm btn-primary" type="button">View</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Payroll Periods</h4>
        <div class="row mb-2">
        <div class="col-sm-6 align-self-center">
          <p class="mb-0">Period Dates</p>
        </div>
        <div class="col-sm-6 text-end">
          <a class="btn btn-sm btn-primary" type="button">View</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="card col-sm-4">
    <div class="card-body">
      <h4 class="card-title">Timekeeping</h4>
      <div class="row mb-2">
        <div class="col-sm-6 align-self-center">
          <p class="mb-0">OT Additional Pay</p>
        </div>
        <div class="col-sm-3 align-self-center">
          <p class="mb-0 fw-bold">30%</p>
        </div>
        <div class="col-sm-3 text-end">
          <a class="btn btn-sm btn-primary" type="button">Edit</a>
        </div>
      </div>
      <div class="row mb-4">

      </div>
      <div class="row mb-2">
        <div class="col-sm-6 align-self-center">
          <p class="mb-0">ND Additional Pay</p>
        </div>
        <div class="col-sm-3 align-self-center">
          <p class="mb-0 fw-bold">10%</p>
        </div>
        <div class="col-sm-3 text-end">
          <a class="btn btn-sm btn-primary" type="button">Edit</a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-6 align-self-center">
          <p class="mb-0">ND Starting Time</p>
        </div>
        <div class="col-sm-3 align-self-center">
          <p class="mb-0 fw-bold">22:00</p>
        </div>
        <div class="col-sm-3 text-end">
          <a class="btn btn-sm btn-primary" type="button">Edit</a>
        </div>
      </div>


    </div>
  </div>
  <div class="col-sm-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Day Types</h4>
        <div class="row mb-2">
          <div class="col-sm-6 align-self-center">
            <p class="mb-0">RH Additional Pay</p>
          </div>
          <div class="col-sm-3 align-self-center">
            <p class="mb-0 fw-bold">100%</p>
          </div>
          <div class="col-sm-3 text-end">
            <a class="btn btn-sm btn-primary" type="button">Edit</a>
          </div>
        </div>  
        <div class="row mb-2">
          <div class="col-sm-6 align-self-center">
            <p class="mb-0">RHOT Additional Pay</p>
          </div>
          <div class="col-sm-3 align-self-center">
            <p class="mb-0 fw-bold">30%</p>
          </div>
          <div class="col-sm-3 text-end">
            <a class="btn btn-sm btn-primary" type="button">Edit</a>
          </div>
        </div>  
        <div class="row mb-2">
          <div class="col-sm-6 align-self-center">
            <p class="mb-0">SH Additional Pay</p>
          </div>
          <div class="col-sm-3 align-self-center">
            <p class="mb-0 fw-bold">30%</p>
          </div>
          <div class="col-sm-3 text-end">
            <a class="btn btn-sm btn-primary" type="button">Edit</a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6 align-self-center">
            <p class="mb-0">SHOT Additional Pay</p>
          </div>
          <div class="col-sm-3 align-self-center">
            <p class="mb-0 fw-bold">30%</p>
          </div>
          <div class="col-sm-3 text-end">
            <a class="btn btn-sm btn-primary" type="button">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="card col-sm-12">
    <div class="card-body">
      <h4 class="card-title">Accounts System</h4>
    
    </div>
  </div>
</div>