<div class="row mb-2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Employee Information</h4>
      <p class="card-description">Employee Type</p>
      <p class="card-description">Departments</p>
      <p class="card-description">Job Titles</p>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Payroll Periods</h4>
    
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Salary and Compensation</h4>

      <p class="card-description">Overtime</p>
      <p class="card-description">Night Differential</p>
      <p class="card-description">Deductions</p>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Timekeeping</h4>

      <p class="card-description">Overtime</p>
      <p class="card-description">Night Differential</p>
      <p class="card-description">Deductions</p>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Leave and Absences</h4>

      <p class="card-description">Overtime</p>
      <p class="card-description">Night Differential</p>
      <p class="card-description">Deductions</p>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Auditing</h4>

    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Compliance and Regulations</h4>

    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Account System</h4>
    
    </div>
  </div>
</div>