/* .main-panel {
    background-color: rgba(240, 79, 37, 0.05);
}

.logo {
    height: 500px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255, 255, 255) !important; 
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: rgb(255, 245, 245) !important;
} */

    /* Hide the default arrow icon */
    input[type="date"]::-webkit-calendar-picker-indicator {
        /* display: none; */
        fill: red;
        color: red;
        background: red;
        background-color: red;
      }
  
      /* input[type="date"] {
        padding-right: 30px;
      } */
  